 <nav class="navbar bg-primary navbar-expand-lg navbar-primary" >
<div class="container">
  <span class="navbar-brand">ChatAPP</span>
  <div class="page-links">
    <ul class="navbar-nav">
        <!-- *ngIf="currentUser"  -->
      <li class="nav-item"  *ngIf="currentUser" >
        <a routerLink="/chat" routerLinkActive="active">Chat</a>
      </li>
      <li class="nav-item"  *ngIf="currentUser"  >
        <a  (click)="auth.logout()" >Logout</a>
      </li>
  
      <!-- <ng-template  #loggout> -->
      <li class="nav-item"  *ngIf="!currentUser" >
        <a routerLink="/login" routerLinkActive="active">Login</a>
      </li>
      <li class="nav-item"  *ngIf="!currentUser" >
        <a routerLink="/signup" routerLinkActive="active">Sinup</a>
      </li>
      <!-- </ng-template> -->
    </ul>
  </div>

</div>
</nav> 
