/* You can add global styles to this file, and also import other style files */
@import "variable";
@import '../../node_modules/bootstrap/scss/bootstrap';


.container-wrapper{
    height:90vh!important;
}
           
button{
     width: 100%
}

body{
    color:$secondary
}