@import "../../../styles/variable";


.container{
    height:100vh;
}

h2{
    color:$secondary;
    margin-bottom: 1em
}

.form-wrapper{
    min-width:  40%;
    margin-bottom: 10%;
    padding: 1em 2em;
    border:2px solid $light-grey;
}